.previewContainer {
    margin-bottom: 2rem;
}

.dzu-dropzone {
    height: 350px;
    max-width: 350px;
    overflow: unset;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px dashed rgba(112, 112, 112, 0.2);
}

.dzu-inputLabel {
    padding: 1rem;
    text-align: center;
    color: #707070;
    font-size: 22px;
    line-height: 40px;
}

.previewContainer {
    height: 350px;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px dashed rgba(112, 112, 112, 0.2);
}

.dzu-previewContainer {
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

.dzu-previewImage {
    width: 200px;
    height: 200px;
    max-width: none;
    max-height: none;
    object-fit: cover;
}

.dzu-previewStatusContainer {
    margin-top: 0.5rem;
}