body {
    font-family: $font-sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}