.team-section {
	max-width: $max-width;
	margin: 0 auto;
	margin-bottom: 3rem;

	.team-section-info {
		max-width: 666px;
		margin: 0 auto;
		padding: 0 1.5rem;

		@include mq-medium {
			text-align: center;
			padding: 0 2.5rem;
		}

		h2 {
			font-size: $h2-fz;
			font-weight: normal;
			line-height: $heading_line-height;
		}

		.heading-info {
			line-height: $para_line-height;
			letter-spacing: $letter_spacing;
			color: $savy-gray-100;
		}
	}

	.slick-slider {
		text-align: center;
		margin: 0 1rem;

		.slick-slide {
			padding: 0 0.5rem;
			box-sizing: border-box;
		}

		img {
			position: relative;
			top: 80px;
			display: inline-block;
			margin: 0;
			max-width: 160px;
			border-radius: 50%;
			filter: grayscale(100%);
		}

		.slick-prev {
			left: 0;
			z-index: 1;
			background-color: $savy-white;

			&:before {
				color: $savy-gray-50;
				background-color: $savy-white;
				opacity: 1;
			}
		}

		.slick-next {
			right: 0;
			z-index: 1;

			&:before {
				color: $savy-gray-50;
				opacity: 1;
			}
		}

		.member-info {
			padding-bottom: 1rem;
			padding-top: 5rem;

			p {
				margin: 0;
				padding: 0;
			}
			
			.member-name {
				margin: 0.5rem 0;
			}

			.member-role {
				display: inline-block;
				border-top: 2px solid $savy-orange-100;
				padding: 0.5rem 0;
			}

			.member-profile {
				margin-top: 0.5rem;
				a {
					font-size: 1.7rem;
					margin: 5px;
					filter: grayscale(100%);
				}
			}
		}

		.slick-center {
			img {
				transform: scale(1.2);
				filter: grayscale(0%);
			}

			.member-info {
				border-radius: 0rem 0rem 2rem 2rem;
				border: 1px solid black;
				margin: 0px -0.7rem;
				padding-top: 7rem;

				.member-profile {
					a {
						filter: grayscale(0%);
					}
				}
			}
		}
	}
}