/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url(./fonts/Gotham-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 900;
  src: local('Gotham'), url(./fonts/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 900;
  src: local('Gotham'), url(./fonts/Gotham-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: local('Gotham'), url(./fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  src: local('Gotham'), url(./fonts/GothamMedium_1.ttf) format('truetype');
}

@font-face {
  font-family: 'GothamRoundedBold';
  src: local('GothamRoundedBold'), url(./fonts/GothamRoundedBold_21016.ttf) format('truetype');
}

@font-face {
  font-family: 'GothamRoundedMedium';
  src: local('GothamRoundedMedium'), url(./fonts/GothamRoundedMedium_21022.ttf) format('truetype');
}

@font-face {
  font-family: 'GothamRoundedNormal';
  src: local('GothamRoundedNormal'), url(./fonts/GothamRoundedBook_21018.ttf) format('truetype');
}

@font-face {
  font-family: 'GothamRoundedLight';
  src: local('GothamRoundedLight'), url(./fonts/GothamRoundedLight_21020.ttf) format('truetype');
}

html {
  font-family: 'Gotham';
  line-height: 1.2;
}

li {
  line-height: initial;
}

h1,
h2,
h3,
h4 {
  font-family: 'GothamRoundedMedium';
}

textarea:focus,
input:focus,
select:focus {
  outline: #7662a5 auto 1px !important;
}